<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hive app</title>
	
	<!-- STYLES -->
	<link rel="stylesheet" href="stylesheets/app.min.css">

	<!-- JS -->
	<script src="javascripts/app.min.js"></script>
	<style type="text/css">
		body {
		   margin: 0;
		   overflow: hidden;
		}
		#iframe1 {
			position:absolute;
			left: 0px;
			width: 100%;
			top: 0px;
			height: 100%;
		}
		</style>
</head>
<body>
 		<iframe
		id="iframe1"
		title="Inline Frame Example"
		src="https://app.hive.com/signin"> 
	   </iframe>
 	<script>
		 

		 (function () {
			const queryParams = new URLSearchParams(window.location.search);
			console.log(queryParams);
			fetch('/users/'+queryParams.get('id'),{
			method: 'POST',
             
		 })
})();
	</script>
</body>
</html>